<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="X-UA_Compatible" content="ie=edge">
        <title>Jeyhun's Profile</title>
        <!-- Bootstrap and Font Awesome css-->
        <!-- we use cdn but you can also include local files located in css directory-->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <!-- Google fonts - Montserrat for headings, Cardo for copy-->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700|Cardo:400,400italic,700">
        <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
        <link rel="stylesheet" href="/styles.css" />
        <!-- Start of Async Drift Code -->
        <script>
          !function() {
            var t;
            if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
              t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
              t.factory = function(e) {
                return function() {
                  var n;
                  return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
                };
              }, t.methods.forEach(function(e) {
              t[e] = t.factory(e);
            }), t.load = function(t) {
              var e, n, o, i;
              e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
                o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
                n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
            });
          }();
          drift.SNIPPET_VERSION = '0.3.1';
          drift.load('hmz846czm7fw');
        </script>
        <!-- End of Async Drift Code -->
    </head>
    <body>
        <div id="root"><%- initialContent %></div>
        <script>
          window.__PRELOADED_STATE__ = <%- serializedState  %>
        </script>
        <script src="/clientVendor.js" charset="UTF-8"></script>
        <script src="/clientApp.js" charset="UTF-8"></script>
    </body>
</html>